repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run --directory backend mypy app
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false
